// Fonts
$font__size: 20px;
$font__body: "Din Next Regular", sans-serif;
$font__body-ultra-lt: "Din Next UltraLight", sans-serif;
$font__body-lt: "Din Next Light", sans-serif;
$font__body-md: "Din Next Medium", sans-serif;
$font__body-bold: "Din Next Bold", sans-serif;
$font__body-black: "Din Next Black", sans-serif;
$font__body-heavy: "Din Next Heavy", sans-serif;
$font__tahoma: "tahoma";
