@font-face {
    font-family: 'Din Next UltraLight';
    src: url('DINNextLTW23-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('DINNextLTW23-UltraLight.woff') format('woff'),
    url('DINNextLTW23-UltraLight.ttf')  format('truetype'),
    url('DINNextLTW23-UltraLight.svg#DINNextLTW23-UltraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Din Next Light';
    src: url('DINNextLTW23-Light.eot?#iefix') format('embedded-opentype'),
    url('DINNextLTW23-Light.woff') format('woff'),
    url('DINNextLTW23-Light.ttf')  format('truetype'),
    url('DINNextLTW23-Light.svg#DINNextLTW23-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Din Next Regular';
    src: url('DINNextLTW23-Regular.eot?#iefix') format('embedded-opentype'),
    url('DINNextLTW23-Regular.woff') format('woff'),
    url('DINNextLTW23-Regular.ttf')  format('truetype'),
    url('DINNextLTW23-Regular.svg#DINNextLTW23-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Din Next Medium';
    src: url('DINNextLTW23-Medium.eot?#iefix') format('embedded-opentype'),
    url('DINNextLTW23-Medium.woff') format('woff'),
    url('DINNextLTW23-Medium.ttf')  format('truetype'),
    url('DINNextLTW23-Medium.svg#DINNextLTW23-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Din Next Bold';
    src: url('DINNextLTW23-Bold.eot?#iefix') format('embedded-opentype'),
    url('DINNextLTW23-Bold.woff') format('woff'),
    url('DINNextLTW23-Bold.ttf')  format('truetype'),
    url('DINNextLTW23-Bold.svg#DINNextLTW23-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Din Next Black';
    src: url('DINNextLTW23-Black.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTW23-Black.woff') format('woff'),
        url('DINNextLTW23-Black.ttf')  format('truetype'),
        url('DINNextLTW23-Black.svg#DINNextLTW23-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Din Next Heavy';
    src: url('DINNextLTW23-Heavy.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTW23-Heavy.woff') format('woff'),
        url('DINNextLTW23-Heavy.ttf')  format('truetype'),
        url('DINNextLTW23-Heavy.svg#DINNextLTW23-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

