.custom-select {
  background-position: left 0.75rem center;
  padding: 0.375rem 0.75rem 0.375rem 1.75rem;
}
.custom-control-label::before,
.custom-control-label::after {
  left: auto;
  right: -1.5rem;
}
.multi-forms {
  .custom-file {
    label {
      > span {
        border-style: dashed !important;
      }
    }
  }
  .selectize-input > input,
  .selectize-dropdown.multi{
    font-size: $font__size;
    .create {
      padding: 0.5rem;
      background-color: $white;
    }
  }
  .selectize-dropdown.multi {
    border-color: $gray;
  }
  .selectize-control {
    &.multi {
      .selectize-input {
        border-color: $gray;
        border-radius: 4px;
        line-height: 1.5;
        font-size: $font__size;
        padding: 0.375rem 0.75rem;
        > div {
          background-color: $primary;
          border-radius: 1rem;
          color: $lighten;
          font-size: $font__size;
          font-family: $font__body-md;
          padding: 0.125rem 1rem;
        }
      }
    }
  }
}



