.table-responsive {
  .modal {
    top: 50%;
    transform: translateY(-50%);
  }
}
.nav-tabs {
  .nav-link {
    border: none;
    color: $secondary;
    &.active {
      border-bottom: 4px solid $primary;
      color: $primary;
    }
  }
}
.dropdown-toggle {
  &:after {
    margin-left: auto;
    margin-right: 0.255em;
  }
}



