.front-page {
  .search {
    .search-bg {
      @include background(#fff, "../img/search-bg.jpg", no-repeat, null, top center, cover);
      opacity: 0.13;
    }
    .search-label {
      @media all and (max-width: $BP__md) {
        font-size: 1.25rem;
      }
    }
    .form-control {
      border-radius: 0;
    }
  }
  .offers-slider {
    .carousel-indicators {
      li {
        background-color: $medium;
        height: 10px;
        width: 10px;
        &.active {
          background-color: $primary;
        }
      }
    }
  }
  .categories {
    .overlay {
      background-color: rgba($secondary, 0.25);
    }
    .cat-figcaption {
      bottom: 2.5rem;
      &:after {
        background-color: $primary;
        content: "";
        height: 3px;
        position: absolute;
        top: calc(100% + 10px);
        width: 50px;
      }
    }
  }
}