//
// Color system
//  $nbety:   #97246B !default; ->$dark-red

//  $copy:      #393740 !default; ->$gray-900
//  $footer:    #44414C !default; ->$gray-800
//  $font:      #44414C !default; ->$gray-800

//  $placehol:  #969696 !default; ->$gray-500
//  $border:    #BEBCCC !default; ->$gray-400
//  $beige:     #E1E1E1 !default; ->$gray-300
//  $sokary:    #F0F0F0 !default; ->$gray-200
//  $btn-text:  #FDFDFD !default; ->$gray-100

//  $red:       #FB144A !default;
//  $dark-red:  #97246B !default;
//  $orange:    #FD6419 !default;
//  $yellow:    #FCD34B !default;
//  $green:     #00B295 !default;

// stylelint-disable
$white:    #FFFFFF !default;
$gray-100: #FDFDFD !default;
$gray-200: #F0F0F0 !default;
$gray-300: #E1E1E1 !default;
$gray-400: #BEBCCC !default;
$gray-500: #969696 !default;
$gray-600: #6c757d !default; // Not used
$gray-700: #495057 !default; // Not used
$gray-800: #44414C !default;
$gray-900: #393740 !default;
$black:    #000000 !default;

$grays: () !default;
$grays: map-merge((
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
), $grays);

$dark-red:  #97246B !default;
$red:     #FB144A !default;
$orange:  #FD6419 !default;
$yellow:  #FCD34B !default;
$green:    #00B295 !default;

$colors: () !default;
$colors: map-merge((
        "dark-red":   $dark-red,
        "red":        $red,
        "orange":     $orange,
        "yellow":     $yellow,
        "green":      $green,
        "white":      $white,
        "light":      $gray-100,
        "gray":       $gray-500,
        "gray-medium":$gray-800,
        "gray-dark":  $gray-900
), $colors);

$primary:       $dark-red !default;
$secondary:     $gray-800 !default;
$danger:        $red !default;
$warning:       $orange !default;
$pending:       $yellow !default;
$success:       $green !default;
$lighten:       $gray-100 !default;
$light:         $gray-200 !default;
$medium:        $gray-300 !default;
$gray:          $gray-500 !default;
$dark:          $gray-800 !default;
$body:          $gray-900 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "warning":    $warning,
        "pending":    $pending,
        "danger":     $danger,
        "lighten":    $lighten,
        "light":      $light,
        "medium":     $medium,
        "gray":       $gray,
        "dark":       $dark,
        "body":       $body
), $theme-colors);

$facebook:    #3b5998;
$twitter:     #55acee;
$google-plus: #dd4b39;
$youtube:     #ff0000;
$rss:         $yellow;
$social-colors: (twitter, $twitter) (facebook, $facebook) (google-plus, $google-plus) (youtube, $youtube) (rss, $rss);

