body {
  direction: rtl;
  font-family: "Din Next Regular", sans-serif;
  text-align: right;
}

.ltr {
  direction: ltr;
}

::-webkit-input-placeholder {
  color: #969696 !important;
}

:-ms-input-placeholder {
  color: #969696 !important;
}

::-ms-input-placeholder {
  color: #969696 !important;
}

::placeholder {
  color: #969696 !important;
}

.bg-none {
  background-color: transparent;
}

.shadow-bottom {
  -webkit-box-shadow: 0px 3px 0.5rem 0.25rem rgba(225, 225, 225, 0.7);
          box-shadow: 0px 3px 0.5rem 0.25rem rgba(225, 225, 225, 0.7);
}

.shadow-around {
  -webkit-box-shadow: 0 0 0.5rem 0.25rem rgba(225, 225, 225, 0.7);
          box-shadow: 0 0 0.5rem 0.25rem rgba(225, 225, 225, 0.7);
}

.shadow-around-lg {
  -webkit-box-shadow: 0 0 1rem 0.25rem rgba(225, 225, 225, 0.7);
          box-shadow: 0 0 1rem 0.25rem rgba(225, 225, 225, 0.7);
}

.no-decoration {
  text-decoration: none !important;
}

.rounded-lg {
  border-radius: 10px;
}

.rounded-top-lg {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.rounded-bottom-lg {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rounded-curved {
  border-radius: 1.5rem;
}

.overflow-hidden {
  overflow: hidden;
}

.cursor {
  cursor: pointer;
}

html,
body {
  font-size: 20px;
}

.font-size-base {
  font-size: 20px;
}

h1,
.h1 {
  font-size: 1.7rem;
}

h2,
.h2 {
  font-size: 1.5rem;
}

h3,
.h3 {
  font-size: 1.3rem;
}

h4,
.h4 {
  font-size: 1.1rem;
}

h5,
.h5 {
  font-size: 0.9rem;
}

h6,
.h6 {
  font-size: 0.8rem;
}

.text-sm {
  font-size: 0.7rem;
}

.font-body {
  font-family: "Din Next Regular", sans-serif;
}

.font-body-ultra-lt {
  font-family: "Din Next UltraLight", sans-serif;
}

.font-body-lt {
  font-family: "Din Next Light", sans-serif;
}

.font-body-md {
  font-family: "Din Next Medium", sans-serif;
}

.font-body-bold {
  font-family: "Din Next Bold", sans-serif;
}

.font-body-black {
  font-family: "Din Next Black", sans-serif;
}

.font-body-heavy {
  font-family: "Din Next Heavy", sans-serif;
}

.font-body,
.font-body-ultra-lt,
.font-body-lt,
.font-body-md,
.font-body-bold,
.font-body-black,
.font-body-heavy {
  font-weight: normal;
}

.front-page .search .search-bg {
  background-color: #fff;
  background-image: url("../img/search-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.13;
}

@media all and (max-width: 768px) {
  .front-page .search .search-label {
    font-size: 1.25rem;
  }
}

.front-page .search .form-control {
  border-radius: 0;
}

.front-page .offers-slider .carousel-indicators li {
  background-color: #E1E1E1;
  height: 10px;
  width: 10px;
}

.front-page .offers-slider .carousel-indicators li.active {
  background-color: #97246B;
}

.front-page .categories .overlay {
  background-color: rgba(68, 65, 76, 0.25);
}

.front-page .categories .cat-figcaption {
  bottom: 2.5rem;
}

.front-page .categories .cat-figcaption:after {
  background-color: #97246B;
  content: "";
  height: 3px;
  position: absolute;
  top: calc(100% + 10px);
  width: 50px;
}

.table-responsive .modal {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav-tabs .nav-link {
  border: none;
  color: #44414C;
}

.nav-tabs .nav-link.active {
  border-bottom: 4px solid #97246B;
  color: #97246B;
}

.dropdown-toggle:after {
  margin-left: auto;
  margin-right: 0.255em;
}

.custom-select {
  background-position: left 0.75rem center;
  padding: 0.375rem 0.75rem 0.375rem 1.75rem;
}

.custom-control-label::before,
.custom-control-label::after {
  left: auto;
  right: -1.5rem;
}

.multi-forms .custom-file label > span {
  border-style: dashed !important;
}

.multi-forms .selectize-input > input,
.multi-forms .selectize-dropdown.multi {
  font-size: 20px;
}

.multi-forms .selectize-input > input .create,
.multi-forms .selectize-dropdown.multi .create {
  padding: 0.5rem;
  background-color: #FFFFFF;
}

.multi-forms .selectize-dropdown.multi {
  border-color: #969696;
}

.multi-forms .selectize-control.multi .selectize-input {
  border-color: #969696;
  border-radius: 4px;
  line-height: 1.5;
  font-size: 20px;
  padding: 0.375rem 0.75rem;
}

.multi-forms .selectize-control.multi .selectize-input > div {
  background-color: #97246B;
  border-radius: 1rem;
  color: #FDFDFD;
  font-size: 20px;
  font-family: "Din Next Medium", sans-serif;
  padding: 0.125rem 1rem;
}
/*# sourceMappingURL=style.css.map */